{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        {% if title == 'Deposit' %}
        <h3>Add Funds</h3>
        {% else %}
        <h3>Widraw Funds</h3>
        {% endif %}
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{{ title }} </h2>
            <div class="clearfix"></div>
          </div>

          {% if message %}
          <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <strong>{{ message }}</strong>
          </div>
          {% endif %}

          <div class="x_content">
            <br />
            {% if title == 'Deposit' %}
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="{% url 'deposit' %}">
            {% else %}
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="{% url 'withdraw' %}">
            {% endif %}
              {% csrf_token %}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Amount <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  {{ form.amount | add_class:"form-control col-md-7 col-xs-12" | attr:"type:number" | attr:"required" }}
                </div>
              </div>
              
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary" type="button">Cancel</button>
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="submit" class="btn btn-success">{{ title }}</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}