{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/ico" />

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap/dist/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'css/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{% static 'css/animate.css/animate.min.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">

    <!-- My Style -->
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet"/>
    
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form name="registerForm" method="post" action="{% url 'register' %}">
              {% csrf_token %}
              <h1>Create Account</h1>
              <div>
                {% comment %} <input type="email" name="email" class="form-control" placeholder="Email" required="" /> {% endcomment %}
                {{ user_form.email | add_class:"form-control" | attr:"type:email" | attr:"placeholder:Email" | attr:"required" }}
              </div>
              <div>
                {% comment %} <input type="text" name="username" class="form-control" placeholder="UserName" required="" /> {% endcomment %}
                {{ user_form.username | add_class:"form-control" | attr:"placeholder:UserName" | attr:"required" }}
              </div>
              <div>
                {% comment %} <input type="password" name="password" class="form-control" placeholder="Password" required="" /> {% endcomment %}
                {{ user_form.password | add_class:"form-control" | attr:"type:password" | attr:"placeholder:Password"  | attr:"required" }}
              </div>
              <div>
                {% comment %} <input type="number" name="phone" class="form-control" placeholder="Phone Number" required="" /> {% endcomment %}
                {{ member_form.phone | add_class:"form-control" | attr:"type:number" | attr:"placeholder:Phone Number" | attr:"required" }}
              </div>
              <div>
                {% comment %} <a class="btn btn-default submit" id="registerBtn">Submit</a> {% endcomment %}
                <input type="submit" class="btn btn-default registerBtn" value="Submit" />
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="{% url 'login' %}" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2019 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{% static 'js/myjs.js' %}"></script>
  </body>
</html>
